html, body {
    margin: 0;
    background-color: lavenderblush;
  }
  
  html {
    overflow-y: scroll; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    
  }
  
  body {
    position: relative;
    overflow: hidden;
    height: inherit;
  }
  
  h1 {
    font-size: 6rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
  
    color: black;
    text-shadow: 0 0 4px pink;
  }
