html, body {
    margin: 0;
    background-color: lavenderblush;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    
  }
  
  body {
    display: flex;
    justify-content: center;
    position: relative;
    height: inherit;
    font-size: 30px;
    box-sizing: 30px;
  }
  
  h1 {
    font-size: 70px;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
  
    color: black;
    text-shadow: 0 0 4px pink;
  }

  button{
    display: flex;
    justify-content: center;
    align-items: center;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border: 3px solid black;
  }