/*General Page Styles*/

body {
    margin: 5;
}
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
  
  /*.card article img
  .card footer 
  .card header
  .card
  
  /* Rulesets to be matched up with selectors */
  
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header{
    height: 3em;
    padding: 1em;
    background-image: linear-gradient(to bottom,rgba, rgba);
    border-radius: 1.5em 1.5em 0 0;
    }
  
  .card article img{
    max-height: 100%;
    float: right;
  }
  .card footer {
    height: 3em;
    padding: 1em;
    background-image: linear-gradient(to bottom,#f01010, #f01010);
    border-radius: 0 0 1.5em 1.5em;
  }

  h2 {
    margin: 0;
    font-size: 2em;
    line-height: 1.5em;
  }

  p {
    margin:0
  }

  p.footer{
    font-size: 1.5em;
    line-height: 1.5em;
  }