body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
}
html {
    font-family:fantasy;
    font-size: 30px;
  }
nav{
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: magenta;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:black;
}


#dog-img{
    width:25vw;
    height: 50vh;
}


#dog{
    width: 25vw;
    height:20vh;
    position: relative;
    animation-duration: 3s;
   animation-name: dogmove;
   animation-iteration-count: 2;
   animation-direction: alternate;

}


@keyframes dogmove{
    from{ margin-left: 100%;
        width: 300%}
    to{
        margin-left: 0%;
        width:100%;
    }


}
h1{
    color: blueviolet;
    font-size: 45px;
    transition-property: background-color;
    transition-duration: .5s;
    transition-delay: 0s;
}
h1:hover{
    color: black;
}

#sunflower{
    width: 100%;
    height: 100px;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#flowerpic{
    min-height: 100%;
}